:root {
  --bulma-scheme-h: 0;
  --bulma-scheme-s: 0%;

  --bulma-info-h: 198deg;
  --bulma-info-s: 100%;
  --bulma-info-l: 70%;

  --bulma-text-h: 15;
  --bulma-text-s: 6%;

  --bulma-body-h: 47;
  --bulma-body-s: 91%;

  --bulma-hero-h: 121deg;
  --bulma-hero-s: 6%

  --bulma-border-l: 30%;

  --bulma-link-h: 38;
  --bulma-link-s: 83%;
  --bulma-link-l: 52%;

  --bulma-link-on-scheme-l: 52%;

}

.icon-text{
  display: inline-block;
}
